<h1>List of Tasks</h1>

<ul style="list-style-type:none" >
    <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
    <i>[x]</i>
  <% else %>
      <i>[ ]</i>
<% end %>
<%= link_to task.title, show_path(task.id) %>
<%= link_to "Delete Task",  show_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
</li>
  <% end %>
</ul>
<hr>
<%= link_to "Add new tasks", new_task_path %>



